/**
 * Premise Time Track Chrome Extension CSS.
 */

body {
	width: 340px;
	height: 430px;
	margin: 0;
}

html,
body {
	height: 430px;
}

html,
body.auth-tab {
	height: 100%;
}

body.auth-tab {
	width: inherit;
}

#ptt-iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

.auth-tab #ptt-iframe {
	height: 100%;
}
