/**
 * Premise Time Track Chrome Extension CSS.
 */

body {
	width: 320px;
	height: 430px;
	margin: 0;
}

html,
body.auth-tab {
	height: 100%;
}

body.auth-tab {
	width: inherit;
}

#ptt-iframe {
	width: 100%;
	height: 99.5%;
	height: calc( 100% - 3px );
	border: 0;
}

.auth-tab #ptt-iframe {
	height: 100%;
}
